<ion-header>
  <ion-toolbar>
    <ion-title>Punkte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Punkte</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Aktuelle Punkte:</strong>
    <p>{{sPunkte}}</p>

    <hr>
    <strong>Mit Punkten spielen:</strong>
    <br>
    <mat-form-field>
      <mat-label>Anzahl</mat-label>
      <input type="number" matInput [(ngModel)]="gluecksPunkte.punkte">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Eine Glücksfrabe wählen</mat-label>
      <input type="color" matInput [(ngModel)]="gluecksPunkte.code">
    </mat-form-field>
    <br>

    <button *ngIf="(bCanPlay && gluecksPunkte.punkte)" mat-button (click)="play()">Spielen</button>

    <hr>
    <strong>Verbleibende Spiele:</strong>
    <p>{{sNochSpiele}}</p>
    <br>

    <button mat-button (click)="load()">neu Laden</button>
  </div>
</ion-content>