<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wipfStartPage">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Start</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wipfInfoPage">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wipfAboutPage">
      <ion-icon name="square"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="wipfTelegramSyncPage">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Sync-Telegram</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="wipfPunktePage">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Punkte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
