<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Einstellungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>App Version</strong>
    <p>0.0.2</p>
    <strong>Online Version</strong>
    <p>{{sVersion}}</p>

    <hr>
    <strong>Zugangsdaten</strong>
    <br>
    <mat-form-field>
      <mat-label>Server</mat-label>
      <input matInput [(ngModel)]="sAuth.host">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Benutzer</mat-label>
      <input matInput [(ngModel)]="sAuth.username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input matInput type="password" [(ngModel)]="sAuth.password">
    </mat-form-field>
    <br>
    <button mat-button (click)="saveAndTest()">Speichern</button>
  </div>
</ion-content>